<!DOCTYPE html>
<html>
  <meta name="viewport" content=" width=device-width, initial-scale=1, maximum-scale=1 ">
  <head>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Curriculum Vitae</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <div id="navbar" class="sticky">
      <a href="#contact">Contactame</a>
      <a href="#certificates">Certificados</a>
      <a href="#skillset">Habilidades</a>
      <a href="#studies">Estudios</a>
      <a href="#aboutme">Sobre mi</a>
    </div>
  </nav>
  <body>
    <div class="bgWhite">
      <section id="portada">
        <h1>Juan Guadalupe</h1>
        <h4>Estudiante Ingenieria en Computacion ESPOL</h4>
        <div class="containerButton">
          <a href="#contact">
            <button id="contactBtn">¿Cómo contactarme?</button>
          </a>
        </div>
        <div class="lineaPort">
          <hr>
        </div>
      </section>
    </div>
    <div id="aboutme" class="bgBlack">
      <section class="flexAbout">
        <div class="itemAbout">
          <h2>Sobre mi</h2>
          <hr>
          <p>Lorem ipsum contenido de parrafo sobre mi</p>
          <p>Redes Sociales</p>
          <section id="logosSN">
            <a href="https://www.instagram.com/alejandroglasers"><img width="31" height="31" src="/images/igLogo.png" alt="igLogo"/></a>
            <a href="https://www.twitter.com/Rexman102"><img width="31" height="31" src="/images/twtLogo.png" alt="twtLogo"/></a>
            <a href="https://www.facebook.com/juanalejandro.guadaluperosas"><img width="31" height="31" src="/images/fbLogo2.png" alt="fbLogo"/></a>
            <a href="https://www.linkedin.com/in/juan-alejandro-guadalupe-rosas-145994214/"><img width="31" height="31" src="/images/linkdinLogo.png" alt="linkdinLogo"/></a>
            <a href="https://youtu.be/dQw4w9WgXcQ"><img width="37" height="31" src="/images/ytLogo.png" alt="ytLogo"/></a>
          </section>
        </div>
        <div class="itemAbout">
          <img height="500" src="/images/yo.jpg" alt="fotoJuan">
        </div>
      </section>
    </div>
    <div id="studies" class="bgWhite">
      <section>
        <h2>Estudios <br> <hr> </h2>
        <div class="container2col">
          <section class="caja-titulo">
            <div class="contentTitulo">
              <p>2016 - 2019 <br> <br> Bachillerato</p>
            </div>
          </section>
          <section class="caja-linea">
            <h4>Titulo de bachiller en Ciencias</h4>
            <p>Unidad Educativa Bilingüe Espiritu Santo</p>
            <p>Graduado con reconocimiento de excelencia academica y portaestandarte de la bandera del plantel</p>
          </section>
          <section class="caja-titulo">
            <div class="contentTitulo">
              <p>2020 - Actualidad <br> <br> Grado Universitario</p>
            </div>
          </section>
          <section class="caja-linea">
            <h4>Ingenieria en Ciencias de la Computacion</h4>
            <p>Escuela Superior Politecnica del Litoral</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id odio vel velit placerat dignissim. Vivamus ornare odio sit amet leo vehicula, vel sodales erat tempus. Morbi id facilisis leo.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </section>
        </div>
      </section>
    </div>
    <div id="skillset" class="bgBlack">
      <section>
        <h2>Skillset <br> <hr> </h2>
        <section id="skillsFlex">
          <div class="skilFlexItem">
            <span>
              <h4>Edicion de video</h4>
              <p>Wondershare Filmora X</p>
              <h4>Manejo de Base de Datos</h4>
              <p>MySQL</p>
              <img height="200" height="160" src="/images/videoEdit.jpg" alt="videoEdit">
            </span>
          </div>
          <div class="skilFlexItem">
            <span>
              <h4>Java</h4>
              <ul>
                <li>Sistema Concurso de Mascotas</li>
                <li>Juego adivinanza animales</li>
                <li>Galeria de fotos personalizada</li>
              </ul>
              <img height="200" src="/images/java.jpg" alt="java">
            </span>
          </div>
          <div class="skilFlexItem">
            <span>
              <h4>Lenguajes de programacion</h4>
              <ul>
                <li>Java</li>
                <li>Python</li>
                <li>R</li>
                <li>MySQL</li>
                <li>C</li>
                <li>Godot</li>
              </ul>
              <img height="200" src="/images/progLang.webp" alt="progLangGif">
            </span>
          </div>
          <div class="skilFlexItem">
            <span>
              <h4>Idiomas</h4>
              <ul>
                <li>Español nativo</li>
                <li>Ingles nivel C1 Cambridge First Certificate</li>
                <li>Francés nivel A1</li>
              </ul>
              <img height="200" src="/images/languages.jpg" alt="languages">
            </span>
          </div>
        </section>
      </section>
    </div>
    <div id="certificates" class="bgWhite">
      <section>
        <h2>Certificados <br> <hr> </h2>
        <div class="certifFlex">
          <div class="certifItem">
            <h4>English Proficiency level</h4>
            <hr/>
            <p>Cambridge English Level 2 Certificate</p>
            <p>2019</p>
          </div>
          <div class="certifItem">
            <h4>Participacion III Olimpiadas FIMATH</h4>
            <hr/>
            <p>Instituto Particular Abdon Calderon</p>
            <p>2019</p>
          </div>
          <div class="certifItem">
            <h4>Participacion Intercolegial Matematicas Humboldt</h4>
            <hr/>
            <p>Colegio Aleman Humboldt</p>
            <p>2019</p>
          </div>
          <div class="certifItem">
            <h4>Diploma a la Fidelidad</h4>
            <hr/>
            <p>Unidad Educativa Bilingüe Espiritu Santo</p>
            <p>2019</p>
          </div>
          <div class="certifItem">
            <h4>8va. edición PyWeekend</h4>
            <hr/>
            <p>Escuela Superior Politecnica del Litoral</p>
            <p>2021</p>
          </div>
        </div>
      </section>
    </div>
    <div id="contact" class="bgBlack">
      <section>
        <h2>Contactame <br> <hr> </h2>
        <section>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d996.7557191450786!2d-79.96753846714923!3d-2.1449235150581294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d7303bb0133cd%3A0x66c18bd9810f31cb!2sFacultad%20de%20Ingenier%C3%ADa%20en%20Electricidad%20y%20Computaci%C3%B3n%20FIEC%20-%20ESPOL!5e0!3m2!1ses-419!2sec!4v1666483920534!5m2!1ses-419!2sec" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div id="formulario">
            <form action="mailto:jaguadal@espol.edu.ec" method="get" enctype="text/plain">
              <div class="containerGridForm">
                <label for="nombre">Utilice los siguientes medios de contacto, o rellene el formulario</label>
                <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre" >

                <label for="mail">Via E-mail <br> <a href="https://jaguadal@espol.edu.ec">jaguadal@espol.edu.ec</a></label>
                <input type="email" id="mail" name="mail" placeholder="Escribe tu e-mail" >

                <label for="ig">En mi pagina de Instagram <br> <a href="https://www.instagram.com/alejandroglasers">@alejandroglasers</a> </label>
                <input type="text" id="ig" name="ig" placeholder="Escribe tu telefono (Opcional)">

                <label for="phone">Por telefono <br> +593 959452918 </label>
                <textarea name="phone" id="text" cols="30" rows="10" placeholder="Escribe tu mensaje aqui"></textarea>

                <div id="finalButtons">
                  <input type="submit" name="submit" value="Send" />
                  <input type="reset" name="reset" value="Clear Form" />
                </div>
              </div>
            </form>
          </div>
        </section>
      </section>
    </div>
  </body>
</html>
