@font-face {
    font-family: myFirstFont;
    src: url(../../assets/font/Formula1-Regular.ttf);
  }

h1 {
    font-family: myFirstFont;
}

.imgPortada {
    width: fit-content;
    height: 20vw;
}

#logoHolder{
    display: flex;
    justify-content: center;
}

.list-group-item{
    display: flex;
    justify-content: center;
    column-gap: 3%;
}

.numeroHolder{
    background-color: red;
    font-size: 3rem;
    color: black;   
    padding: 2%;

}

.nameHolder{  
    font-size: 3rem;
}