<p>pilotos works!</p>
<h1>Pilotos del año xxxx</h1>
<div class="container-fluid">
    <div class="card">
        <img class="card-img-top" data-src="proyecto03\src\assets\images\logo.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
        <ul class="list-group list-group-flush" *ngFor="let piloto of pilotos">
            <li class="list-group-item" >{{piloto.givenName + " " + piloto.familyName}}</li>
        </ul>
    </div>
</div>