<p>pilotos works!</p>
<h1>Pilotos del año {{yearSelection}}</h1>
<div class="container-fluid">
    <div class="card">
        <img src="../../assets/images/logo.png" alt="F1 logo" class="imgPortada">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
        <ul class="list-group list-group-flush" *ngFor="let piloto of pilotos">
            <div>
                <article *ngIf="piloto.permanentNumber"></article>
                <li class="list-group-item" >{{piloto.givenName + " " + piloto.familyName}}</li>                
            </div>
        </ul>
    </div>
</div>